<html>

<head>
    <title>
        about page
    </title>
    {{>headerlinks}}
</head>

<body>
    <center>
        <img class="main-404-img" src="img/404error.jpg" alt="">
        <p><h2>This url is not found...!!!</h2></p>
        <a href="/"><button class="btn btn-danger">Back To Home</button></a>
    </center>

</body>

</html>