<html>
    <head>
        <title>
about page
        </title>
  {{>headerlinks}}
    </head>

    <body>
      {{>navbar}} 
<div class="container">
  <div class="row">
    <div class="col">
<img class="main-about-img" src="img/about.jpg">
    </div>

    <div class="col">
      <H1>Weather Application</H1><br><br>
      <h3>This application is based on node js pure backend. This is the demo application which containes all the basic concepts of node js.</h3>
    </div>
  </div>
</div>

<center>
<a href="/"><button class="btn btn-danger">Back To Home</button></a>       

</center>
<!------------------footer body---------->
{{>footer}}
    </body>
</html>