<html>
    <head>
        <title>
Index page
        </title>

        {{>headerlinks}}
    </head>

    <body>
       
{{>navbar}}


<!--Main header----------------------------->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
<!----left side div-->
                <div class="left-side col-md-6 col-12 main_header_left">
                    <p><h3>Welcom to the weather node js application</h3></p>
                    <h1>Get the <spna>ghgh</spna> weather details of any city</h1>
                    <a href="/weather"><button>Check the weather</button></a>

                </div>
                <!---------right side div-->
                <div class="right-side col-md-6 col-12 main_header_right">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class=" w-100" src="img/register.jpg" alt="First slide">
                          </div>
                          <div class="carousel-item">
                            <img class="w-100" src="img/index5.png" alt="Second slide">
                          </div>
                          <div class="carousel-item">
                            <img class=" w-100" src="img/index.jpg" alt="Third slide">
                          </div>
                        </div>
                      </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!------------------footer body---------->
{{>footer}}
    </body>
</html>