<html>

<head>
    <title>
        weather page
    </title>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <div class="container">
        <div class="row">

            <div class="col-md-10 col-12 mx-auto">

                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">

                    </form>
                </div>

                <div class="tempInformation">
                    <div class="top_layer">
                       <p id="date"></p>

                        {{!-- <p id="day">Tuesday</p>
                        <p id="today_date">13th OCT</p> --}}
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get output Here</p>
                        <div class="middle_layer ">
                            <p id="temp"> <span id="temp_real_val">0</span> <sup>o</sup>C</p>
                            <p id="temp_status"><i class="fa fa-cloud"></i></p>
                        </div>
                    </div>
                </div>            


            </div>

        </div>

    </div>


    {{!-- <!------------------footer body---------->
     <center>
<a href="/"><button class="btn btn-danger">Back To Home</button></a>
                </center>
    {{>footer}} --}}
    <script src="js/main.js"></script>
 <script>
document.getElementById("date").innerHTML = Date();
</script>
</body>

</html>