@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,400;1,200;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
}



.navbar{
   
    background-color: darkgray;
    color: deeppink;
    height: 130%;
    width: 100%;
    font-size: 20px;
}
.left-side{
    margin-top: 100px;
}
.right-side{
    margin-top: 50px;
}

.footer{
    margin-top: 60px;
    align-content: center;
    color: black;
    font-size: 20px;
}
.col{
    margin: 0;
}
.main_header_left button{
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px ;
    background-color: darkolivegreen;
    outline: none;
}
.main-404-img{
    margin-top: 60px;
    width: 50%;
    height: 50%;
    margin-left: 20px;
}
.main-about-img{
    margin-top: 20px;
    height: 60%;
}

.tempInformation{
    width: 110%;
    margin-top:10%;
    height: 60%;
    background-color: #323544;
    border-radius: 1rem;
   
    font-family: "Roboto",sans-serif;
}
.top_layer{
    width: 100%;
    height: 20%;
    background-color:#2d303d;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    border-radius: 1rem;

}
.top_layer p{
    color:white;
    font-weight: 300;
    padding: 2rem;
    font-size: 1.4rem;
}
 .main_layer{
    width: 90%;
    height: 70%;
    /* display: flex; */
    flex-direction: column;
    padding: 2rem;
} 
.temp_form{
    width: 60%;
    position: relative;
    margin-top:0;
}
.main_content{
    width: 100%;
    height: 4%;
}
.fa{
    color:#009ad8;
}
sup{
    font-size: 6rem;
    margin-top: -2rem;
}
.main_layer #city_name{
    padding: 2rem 0;
    color: #bfc1c8;
    font-weight: 300;
    font-size: 2rem;
}
.main_layer .middle_layer{
display: flex;
justify-content: space-around;
color: white;
}
.main_layer .middle_layer p,
.main_layer .middle_layer .fa{
    font-size: 7rem;
    font-weight: 900;
}
/*  */
/* 
.data_hide{
    visibility: hidden;
    transition: all 0.3s linear;
}

 */
.temp_form input[type = "text"]{
    width: 100%;
    height: 0;
    padding: 2rem 5rem 2rem 2rem;
    background: #1e202b ;
    color:white;
    outline: none;
    border:none ;
    font-size: 1.7rem;
    border-radius: 3rem;
}
::placeholder{
    color:#bfc1c8;
}
.temp_form input[type="submit"]{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border: none;
    background: #009ad8;
    padding: 0 3rem;
    border-radius: 3rem;
    color: white;
    outline: none;
    font-size: 1.6rem;
}
.temp_form input[type="submit"]:hover{
    color: #009ad8;
    background-color: #fff;
}
.temp_form{
    width: auto;
}
.tempInformation{
    width: auto;
  
}
.col{
    margin: 0;
}